project_id                   = "pullsense-production"
project_name                 = "pullsense"
region                       = "us-central1"
github_repo                  = "Nadil-Dulnidu/PullSense-Web"
github_app_id                = "123456"
github_app_private_key       = "-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
github_webhook_secret        = "prod_webhook_secret_here"
clerk_publishable_key        = "pk_live_..."
clerk_secret_key             = "sk_live_..."
clerk_webhook_signing_secret = "whsec_..."
pinecone_api_key             = "pcsk_..."
api_image                    = "us-central1-docker.pkg.dev/pullsense-production/pullsense-production-repo/pullsense-api:latest"
client_image                 = "us-central1-docker.pkg.dev/pullsense-production/pullsense-production-repo/pullsense-client:latest"
